/* BODY AND FONT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(228, 222, 222);
}

/* HEADER AND NAVBAR */
header {
	background-color: #4267B2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo img {
	height: 35px;
  margin-bottom: 3px;
  float: left;
  margin-left: 85px;
}

#input-usuario[type="text"]{
	border-radius: 10px;
	padding: 6px;
  text-align: left;
	background-color: #F2F2F2;
	border: none;
	outline: none;
	font-size: 13px;
  color: #4267B2;
  margin-right: 85px; 
}

.usuario ::placeholder{
  color: #4267B2;
}

/* BASIC INFO */
.info {
	width: 80%;
	margin: auto;
	display: flex;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	margin-top: 20px;
}

.profile-picture {
	width: 16%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
  margin-left: 5%;
}

.profile-picture img {
	width: 100%;
	height: auto;
  size-adjust: auto;
	border-radius: 50%;
}

.basic-info {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
}

.basic-info h1 {
  font-size: auto;
  text-align: left;
	margin: 0;
}

.basic-info p {
  font-size: auto;
  text-align: left;
	margin: 5px 0;
}

.follow-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  background-color: #4267B2;
  border: none;
  margin-top: 170px;
}

/* ABOUT ME AND PUBLICATION */
.container {
  display: flex;
  width: 90%;
}

/* ABOUT ME */
#sobre-mi {
  flex-basis: 30%;
  order: 2;
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#sobre-mi h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#sobre-mi p {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

/* PUBLICATION */
.publicacion {
  flex-basis: 70%;
  order: 1;
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  margin-left: 11%;
  background-color: white;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.publicacion .fecha {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.publicacion img {
  width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 2.5%;
}

.publicacion .likes {
  display: flex;
  align-items: center;
}

.publicacion .btn-like {
  background-color: #eee;
  border: none;
  color: #3498db;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.publicacion .btn-like:hover {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.publicacion .btn-like:disabled {
  background-color: #ddd;
  color: #ccc;
  cursor: not-allowed;
}

.publicacion #num-likes {
margin-left: 67%;
}

.contenedor-comentarios {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.comentarios {
  margin-top: 10px;
}

.p-comentarios {
  font-size: 14px;
  margin-bottom: 20px;
}

.nuevo-comentario {
  display: flex;
}

#input-comentario {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  border: 1px #ccc;
  background-color: #f0eaea;
  margin-right: 10px;
  width: 80%;
}

#input-comentario::placeholder{
  color: black;
  font-size: smaller;
}

#btn-comentar {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.btn-eliminar {
  background-color: #f2f2f2;
  font-weight: bold;
  color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
